#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #21242e;
  color: whitesmoke;
  min-height: 100vh;
}

#header a.active{
  color: lightcoral;
  text-decoration: underline;
  text-underline-offset: 3px;
}
